<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NewHorizons.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5126E9D11D2DD91900BBC5ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5126E9E91D2DD91900BBC5ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5126E9F41D2DD91900BBC5ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
